<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - T&P Enterprises </title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/fontawesome/css/all.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>

    <script src="~/Scripts/bootstrap.bundle.min.js"></script>

    <script src="~/Scripts/chart.min.js"></script>

</head>
<body>
    <input type="hidden" id="userId" value="@Session["UID"]" />
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">

            <span class="navbar-brand">Loyalty Reward</span>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                @{int isadm = Convert.ToInt32(Session["adm"]); }
                @if (isadm == 1)
                {
                    <ul class="navbar-nav flex-grow-1">
                        <li>@Html.ActionLink("Dashboard", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Video", "Index", "Video", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Users", "Index", "User", new { area = "" }, new { @class = "nav-link" })</li>
                    </ul>
                }
                else
                {

                    <ul class="navbar-nav flex-grow-1">
                        <li>@Html.ActionLink("Dashboard", "UserDashBoard", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Video", "Interface", "Home", new { area = "" }, new { @class = "nav-link" })</li>

                    </ul>
                }
                <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                    <li class="text-white d-flex align-items-center me-3">Welcome<span class="mx-2">@Session["usr"]</span></li>
                    @if (isadm != 1)
                    {
                        <li class="text-white d-flex align-items-center me-3"><i class="fa-solid fa-coins mx-2" style="font-size:1.5rem;color:gold"></i> <span id="balance"></span> </li>
                    }
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><svg class="svg-inline--fa fa-user fa-w-14 fa-fw" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="user" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0 96 57.3 96 128s57.3 128 128 128zm89.6 32h-16.7c-22.2 10.2-46.9 16-72.9 16s-50.6-5.8-72.9-16h-16.7C60.2 288 0 348.2 0 422.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-41.6c0-74.2-60.2-134.4-134.4-134.4z"></path></svg><!-- <i class="fas fa-user fa-fw"></i> Font Awesome fontawesome.com --></a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            @if (isadm != 1)
                            {
                                <li>
                                    @Html.ActionLink("Wallet", "UserWallet", "Home", new { area = "" }, new { @class = "dropdown-item" })
                                </li>
                            }
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <a class="dropdown-item" href="@Url.Action("Logout", "Home")"><i class="fa-solid fa-right-from-bracket"></i> Sign Out</a>
                            </li>

                        </ul>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
    <div class="container py-2">
        @RenderBody()
    </div>
    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <div class="col-md-4 d-flex align-items-center">
                <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                    <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
                </a>
                <span class="mb-3 mb-md-0 text-muted">© Tarun and Pankaj, Inc.</span>
            </div>

            <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
                <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
                <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
            </ul>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
<script>
    var userid = $("#userId").val();
    $.ajax({
        url: '../User/ShowBalance?userid=' + parseInt(userid),
        type: 'GET',
        success: function (data) {
            $('#balance').text(data);

        },
        error: function (error) {
            console.error("Error occurred: ", error);
        }
    });
</script>
